body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #1b4062;
  font-family: 'Lato';
}

.upper {
  text-transform: uppercase;
}

.login {
  color:white;
}
.text-dark-blue {
  color: #1b4062;
}

.container-loader {
  height: 50vh;
}

.loader {
  animation: spin infinite 1s linear;
  height: 50%;
}

.active-media,
.app-nav-main {
  background-color: #8DC6E8!important;
}

.article-img {
  width: 100%;
}

.text-ellipsis {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.interactive {
  cursor: pointer;
}

.tweet-retweet {
  background-color: #e3f3e7;
}

.tweet-quote {
  background-color: #fff8e1;
}

.tweet-reply {
  background-color: #ffccbc;
}

.tweet-reply-self {
  background-color: #eee;
}
